.App {
  text-align: center;
}

body{
  background-color: rgb(23, 23, 23);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.fields {
  margin-block: 2vh;
  height: 10vh;
  text-align: center;
}

.a{
  margin-left: 30vw;
  
}

.b{
  margin-left: 2vw;
}

button{
  height: 10vh;
  width: 40vw;
  margin-left: 20vw;;
  font-size: 1.3rem;
  color: green;
  background-color: rgb(150, 185, 150);
  transition: all ease 0.1s;
  cursor: pointer;
}

button:hover{
  transform: scale(1.02);
}